
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <label>ürün adı</label>
    <input type="text" class="form-control" />
    <br />
    <label>ürün kategorisi</label>
    <input type="text" class="form-control" />
    <br />
    <label>ürün stok sayısı</label>
    <input type="text" class="form-control" />
    <br />
    <label>ürün açıklaması</label>
    <textarea class="form-control" rows="8"></textarea>
    <br />
    <button class="btn btn-success">verileri kaydet</button>
</div>