
@{
    Layout = null;
}

<h1>merhaba</h1>
<h3>selAM</h3>
<h5>hellööö</h5>
<br />
<div style="background-color:bisque">Merhaba arkadaşlar</div>
<br />
<div style="background-color:chocolate">selamlar</div>
<br />
<a href="http://www.google.com">Google'a git'</a>
<br />
<a href="">2.sayfayı aç</a>