
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <table class="table table-bordered">
        <tr>
            <th>ürün id</th>
            <th>ürün adı</th>
            <th>ürün stok sayısı</th>
            <th>ürün kategorisi </th>
        </tr>
        <tr>
            <td>1</td>
            <td>bilgisayar</td>
            <td>150</td>
            <td>elektronik</td>
        </tr>
        <tr>
            <td>2</td>
            <td>kazak</td>
            <td>250</td>
            <td>kıyafet</td>
        </tr>
        <tr>
            <td>3</td>
            <td>gömlek</td>
            <td>180</td>
            <td>kıyafet</td>
        </tr>
    </table>
    <a href="#" class="btn btn-primary">yeni ürün girişi</a>
</div>
